<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Y10 ITP</title>
</head>
<body>
<div><h1>Y10 IT Programming and Web Design Blog</h1></div>
<div>
    <p>published: 20/19/2016, 08:30</p>
    <h2><a href="">My first post</a></h2>
    <p>This will allow you to see the power of programming.</p>
</div>

<div>
    <p>published: 20/19/2016, 10:30</p>
    <h2><a href="">My second post</a></h2>
    <p>For some of you, you can focus more on web design and web admin.</p>
</div>

</body>
</html>